* {
  margin: 0;
  padding: 0;
}

.main {
  font-family: "Poppins";
  background-color: #F8FDFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  display: flex;
  width: 1920px;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.img {
  width: 100%;
  height: 1000px;
  background-image: url(/image/img_1.png);
}

.header {
  display: flex;
  align-items: center;
  height: 96px;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px solid #F8FDFF;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 693px;
  height: 24px;
  color: #F8FDFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.menu_but:hover {
  text-decoration-line: underline;
  text-decoration-color: #F8FDFF;
}

.vector {
  width: 24px;
  height: 24px;
}

.txtTrav {
  width: 188px;
  height: 32px;
}

.button_tour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FDFF;
  width: 214px;
  height: 56px;
  border-radius: 40px;
  border: 1px solid #F8FDFF;
}

.text_bt_tour {
  width: 134px;
  height: 16px;
  color: #80A5B3;
}

.headSection {
  width: 660px;
  height: 471px;
  margin-top: 125px;
  margin-left: 200px;
}

.Tagline {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #80A5B3;
  text-transform: uppercase;
}

.Desc {
  margin-top: 24px;
  width: 490px;
  height: 90px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #F8FDFF;
}

.Heading {
  font-size: 84px;
  font-weight: 700;
  line-height: 101px;
  text-align: left;
}

p {
  color: #F8FDFF;
  text-transform: uppercase;
}

span {
  color: #80A5B3;
  text-transform: lowercase;
}

.searchSection {
  width: 830px;
  height: 168px;
  margin-top: 40px;
  margin-left: 200px;
  border-radius: 16px;
  background-color: #F8FDFF;
  border: 1px solid #F8FDFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.travel-inv {
  width: 766px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.blocks-inv {
  border: 1px solid black;
  width: 235px;
  height: 56px;
  border-radius: 4px 4px 0px 0px;
  position: relative;
}

.blocks-main-text {
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D3134;
  margin-top: 15px;
}

.blocks-top-text {
  background-color: #F8FDFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  position: absolute;
  bottom: 47.5px;
  left: 15px;
  z-index: 1;
}

.buttonShowResults {
  width: 146px;
  height: 48px;
  border-radius: 4px;
  background-color: #80A5B3;
  border: solid #80A5B3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 615px;
  color: #F8FDFF;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CATEGORIES {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #80A5B3;
  margin-top: 112px;
}

.WeOffer {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
  margin-top: 20px;
}

.Service-items {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block {
  width: 491px;
  height: 361px;
  border-radius: 24px;
  border: 1px solid #80A5B3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F8FDFF;
}

.tagline {
  color: #80A5B3;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.Textblck {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  width: 328px;
  height: 104px;
}

.Decore2 {
  position: absolute;
  z-index: 0;
  top: 1417px;
}

.ourstory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1720px;
  height: 700px;
  position: relative;
  left: 133px;
  top: 110px;
}

.txtAbout {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #80A5B3;
  text-align: left;
}

.txtAbout2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: left;
}

.txtAbout3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.aboutBlocks {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 166px;
  height: 178px;
  border-radius: 14px;
  background-color: #F8FDFF;
  border: 1px solid rgba(128, 165, 179, 0.7019607843);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.figure {
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  color: #80A5B3;
  width: 96px;
  height: 46px;
  text-align: left;
}

.txtfigure {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  width: 115px;
  height: 58px;
  text-align: left;
  color: #939597;
}

.Aboutus {
  width: 681px;
  height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonAbout {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  width: 111px;
  height: 48px;
  border-radius: 4px;
  gap: 4px;
  border: 1px #80A5B3;
  background-color: #80A5B3;
  color: #F8FDFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FindArrow {
  display: flex;
  justify-content: space-around;
}

.Find {
  font-size: 56px;
  font-weight: 600;
  line-height: 66px;
}

.Arrow2 {
  display: flex;
  justify-content: space-evenly;
  width: 120px;
}/*# sourceMappingURL=main.css.map */